body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u311_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u311_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:641px;
  overflow:hidden;
  touch-action:none;
}
#u312_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:641px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u312_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
}
.u315 {
  position:absolute;
  left:2px;
  top:62px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
.u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
.u316 {
  position:absolute;
  left:19px;
  top:15px;
  width:110px;
  height:110px;
}
.u317 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
.u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u318 {
  position:absolute;
  left:139px;
  top:15px;
  width:57px;
  height:16px;
}
.u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
.u320 {
  position:absolute;
  left:139px;
  top:103px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
.u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
.u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u322 {
  position:absolute;
  left:257px;
  top:109px;
  width:29px;
  height:16px;
}
.u323 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u313-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:140px;
}
#u313-2 {
  position:absolute;
  left:0px;
  top:140px;
  width:360px;
  height:140px;
}
#u313-3 {
  position:absolute;
  left:0px;
  top:280px;
  width:360px;
  height:140px;
}
#u313-4 {
  position:absolute;
  left:0px;
  top:420px;
  width:360px;
  height:140px;
}
#u313-5 {
  position:absolute;
  left:0px;
  top:560px;
  width:360px;
  height:140px;
}
#u313-6 {
  position:absolute;
  left:0px;
  top:700px;
  width:360px;
  height:140px;
}
#u313-7 {
  position:absolute;
  left:0px;
  top:840px;
  width:360px;
  height:140px;
}
#u313-8 {
  position:absolute;
  left:0px;
  top:980px;
  width:360px;
  height:140px;
}
#u313-9 {
  position:absolute;
  left:0px;
  top:1120px;
  width:360px;
  height:140px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
